<% @posts.each do |post| %>
  <article>
    <h2><%= link_to post.title, url_for(:action => 'show', :slug => post.slug) %></h2>
    <p><% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true) %>
    <%= raw markdown.render(post.content.split('<!-- more -->').first) %></p>
  </article>
<% end %>